{% extends 'parent.html.twig' %}

{% block title %}
    {{ parent() }} - Connexion
{% endblock %}

{% block content %}
    <div class="col">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                Connecté en tant que {{ app.user.username }},
                {# déconnexion à partir du nom de la route #}
                {#<a href="{{ path('security.logout') }}">Logout</a>#}

                {# déconnexion à partir de l'identifiant de la zone sécurisée contenue dans security.yaml #}
                <a href="{{ logout_url('main') }}">Déconnexion</a>
            </div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>

        {{ form_start(form, { attr : { novalidate: 'novalidate' } }) }}
            <p>
                {{ form_label(form.email, 'Email: ') }}
                {{ form_widget(form.email, { attr: { value: last_username, autofocus: 'autofocus' } }) }}
            </p>
            <p>
                {{ form_label(form.password, 'Mot de passe: ') }}
                {{ form_widget(form.password) }}
            </p>
            <p>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <input type="submit" value="Valider" class="btn btn-primary">
            </p>
        {{ form_end(form) }}
    </div>


{#<form method="post">
		<label for="inputEmail">Email</label>
		<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
		<label for="inputPassword">Password</label>
		<input type="password" name="password" id="inputPassword" class="form-control" required>

		<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">


			Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
			See https://symfony.com/doc/current/security/remember_me.html

			<div class="checkbox mb-3">
				<label>
					<input type="checkbox" name="_remember_me"> Remember me
				</label>
			</div>


    <button class="btn btn-lg btn-primary" type="submit">
        Sign in
    </button>
</form>#}
{% endblock %}
