{% extends 'parent.html.twig' %}

{% block title %}
    {{ parent() }} - S'enregistrer
{% endblock %}

{% block content %}
<div class="col">
    <h1>S'enregistrer</h1>

    {{ form_start(registrationForm, { attr: { novalidate: 'novalidate' } }) }}
        {{ form_row(registrationForm.email, { label: 'Email: ' }) }}
        {{ form_row(registrationForm.plainPassword, { label: 'Mot de passe: ' }) }}
        {{ form_row(registrationForm.agreeTerms, { label: "Accepter les conditions d'utilisation" }) }}
        <button class="btn btn-primary">Register</button>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}
