<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>
		{% block title %}
			{{ site_name }}
		{% endblock %}
	</title>
	{{ encore_entry_link_tags('app') }}
</head>
<body>
	{#
		instructions de mise en page
			block: zone définie à remplir ou pas dans une page enfant
			include: inclusion de fichiers twig
		fonction
			parent() : récupérer le contenu du bloc parent
	#}

	{% include 'inc/nav.html.twig' %}

	<div class="container">
		<div class="row">
			{% block content %}{% endblock %}
		</div>
	</div>

	<!--script src="{#{ encore_entry_js_files('app') }#}"></script-->

	{{ encore_entry_script_tags('app') }}
</body>
</html>







