{% extends 'admin.base.html.twig' %}

{% block body %}
	<div class="row">
		<div class="col">
			<h1>Formulaire des produits</h1>
			{{ form_start(form, { attr : { novalidate: 'novalidate' } }) }}
				<p>
					{{ form_label(form.name, 'Nom: ') }}
					{{ form_widget(form.name) }}
				</p>
				<p>
					{{ form_label(form.description, 'Description: ') }}
					{{ form_widget(form.description) }}
				</p>
				<p>
					{{ form_label(form.price, 'Prix: ') }}
					{{ form_widget(form.price) }}
				</p>
				<p>
					{{ form_label(form.image, 'Image: ') }}
					{{ form_widget(form.image) }}
				</p>
				<p>
					{{ form_label(form.categories, 'Catégories: ') }}
					{{ form_widget(form.categories) }}
				</p>
				<p>
					<input type="submit" value="Valider" class="btn btn-primary">
				</p>
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}